{
  "Jwt":{
    "Key": "your_super_secret_key",
    "Issuer": "your_app_name",
    "Audience": "your_app_name"
  },
  "ConnectionStrings": {
    "DBConnection": "Server=Your_Server_Name;Database=Your_Database_Name;Integrated Security=True;TrustServerCertificate=True;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
